nav{
    background: rgba(0, 0, 0, 0.3);
    width: max-content;  /* fit is content  */
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed; /* fix on the page no matter where in the page */
    left: 50%;
    transform: translateX(-50%); /* for middle of the page */
    bottom:  1rem; /* far from bottom 2 rem */
    display: flex;
    gap: 0.8rem; 
    border-radius: 3rem; /* elips shape */
    backdrop-filter:blur (15px); 

}
nav a{ 
    justify-content: center;
    background: transparent;
    padding: 0.9rem;
    /* padding-bottom: 0; */
    border-radius: 50%;
    display: flex;
    color:var(--color-light);
    font-size: 1.5rem;
    
   
}
nav a:hover{/*  when the cursor is on the icon */
    background: rgba(168, 166, 166, 0.685);
}
nav a.active{ /* Which is clicked*/
    background: var(--color-bg);
    color: #3783b6;
}
.button__definition{
    font-size: 80%;
    padding: 0.9rem;
    padding-top: 0;
}
